<html>


    <body>

        <h1>Sign in</h1>

        <form action="checkUser/" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="nick name" name="nick_name" style="display:block;" /> </br>

            <input type="password" placeholder="password" name="password" style="display:block;"  /> </br>

            <a href="/resetpassword" style="display:block;">forgot password ?</a>

            </br>

            <input type="submit">

        </form>

        </br>
        </br>

        <a href="/signup" style="display:block;">create account ?</a>

    </body>



</html>